# More Vim like movements
move_left           l
move_right          h
next_page           <C-f>
previous_page       <C-b>
screen_down         <C-d>
screen_up           <C-u>

# Zoom
zoom_in             <S-+>
zoom_in             +
zoom_out            -
fit_to_page_width   a
# Same as fit_to_page_with but ignores page margins
fit_to_page_width_smart   <S-a>

# Open document
open_document_embedded                      o
open_document_embedded_from_current_path    <C-o>

# Misc
toggle_presentation_mode <A-p>
toggle_fullscreen   <A-f>
external_search	    <S-s>
toggle_dark_mode    <C-r>
keyboard_overview   <S-f>
toggle_synctex	    <A-s>

# Override some keys
add_highlight           <S-h>
overview_definition     <S-l>
search              /
search              <S-seven>

# Custom commands
execute_command_c <A-c>
execute_command_z <A-z>
execute_command_f <A-f>
