# Easthetics
ui_font     Input Sans Condensed, Condensed
font_size   14
status_bar_font_size 14
status_bar_color 0.086 0.086 0.086
status_bar_text_color 0.95 0.957 0.973

# Synctex
inverse_search_command  nvr --remote-silent %1 -c %2

hover_overview	0
should_launch_new_window   1
check_for_updates_on_startup 0
search_url_d	https://duckduckgo.com/?q=

execute_command_c open-with-caja %1
execute_command_z zathura %1
execute_command_f firefox %1

# vim: ft=config
