snippet docccc "docstring" w
"""${1:summary}

Parameters
----------
${2:varname} : ${3:vartype}
    ${4:var description}
${5}
Return
----------
${6:retname} : ${7:rettype}
    ${8:ret description}
"""
endsnippet
